{% extends "layout/base.html" %}

{% block content %}
  <div class="container">
    <div class="starter-template">
      <h1>Wikipedia Philosophy Crawl</h1>
      <p class="lead">
        Type a search term below to see path that the article takes to
  get to the Philosophy article on Wikipedia
      </p>
    </div>
    <form action="/search" method="POST">
    <input id="mainform" type="text" placeholder="Wikipedia Article" name="article">
    <button type="submit" style="background-color: #647CDF; color:
  white;" class="btn btn-default">Go</button>
    </form>
  </div>
{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
